<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StockMapper">
    <resultMap id="text" type="pojo.Stock">

    </resultMap>
    <insert id="add">
        insert into stock values (0,#{name},#{type},#{price},#{amount},#{estimatedQuantity},0)
    </insert>

    <update id="update">
        update stock set name=#{name},type=#{type},price=#{price},amount=#{amount},estimatedQuantity=#{estimatedQuantity} where id = #{id}
    </update>
    <update id="updateNumber">
        update stock set purchase = #{num} where id = #{id}
    </update>

    <select id="count" resultType="int">
        select count(*) from stock
        <where>
            <if test="key=='name'">
                name like #{value}
            </if>
            <if test="key=='type'">
                type like #{value}
            </if>
            <if test="key=='price'">
                price like #{value}
            </if>
            <if test="key=='amount'">
                amount like #{value}
            </if>
            <if test="key=='estimatedQuantity'">
                estimatedQuantity like #{value}
            </if>
        </where>
    </select>

    <delete id="delete">
        delete from stock where id = #{id}
    </delete>

    <delete id="deleteByIds">
        delete from stock where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAll" resultMap="text">
        select * from stock
        <where>
            <if test="key=='name'">
                name like #{value}
            </if>
            <if test="key=='type'">
                type like #{value}
            </if>
            <if test="key=='price'">
                price like #{value}
            </if>
            <if test="key=='amount'">
                amount like #{value}
            </if>
            <if test="key=='estimatedQuantity'">
                estimatedQuantity like #{value}
            </if>
        </where>
        limit #{begin},#{size}
    </select>
    <select id="selectById" resultMap="text">
        select * from stock where id = #{id}
    </select>

    <select id="requestCount" resultType="int">
        select count(*) from stock where purchase != 0
    </select>
    <select id="selectRequest" resultMap="text">
        select * from stock where purchase != 0
    </select>
    <update id="renew">
        update stock set amount = #{amount},purchase = #{purchase} where id = #{id}
    </update>


</mapper>