<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meitishangcheng</title>
</head>
<body>
<div id="form">
    <el-header>
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
            <span class="welcome"><img src="img/logo.png" style=" padding-left: 20px"></span>
            <span class="user" style="float: right; padding-right:50px ;font-size: 20px ; line-height: 55px">{{User}} | <a href="login.html"><i class="el-icon-switch-button"></i></a></span>
            <span class="userPhoto" style="float: right"><img src="img/user.png"></span>
        </el-menu>
    </el-header>
    <el-container>
        <!--侧边-->
        <el-aside>
            <el-col>
                <el-menu
                        default-active="4"
                        class="el-menu-vertical-demo">
                    <el-menu-item index="1" @click="toMain_Employee">
                        <i class="el-icon-user-solid"></i>
                        <span slot="title">Personal Information</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="toMain_Employee_Schedule">
                        <i class="el-icon-date"></i>
                        <span slot="title" >Daily Schedule</span>
                    </el-menu-item>
                    <el-menu-item index="3" @click="toMain_Stock_Employee" :disabled="Manager1">
                        <i class="el-icon-s-goods"></i>
                        <span slot="title">Stock Management</span>
                    </el-menu-item>
                    <el-menu-item index="4" @click="toMain_ChangePassword_Employee">
                        <i class="el-icon-setting"></i>
                        <span slot="title">Change Password</span>
                    </el-menu-item>
                </el-menu>
            </el-col>
        </el-aside>
        <!--主页面-->
        <el-main>
            <el-form ref="form" :model="form" label-width="80px" style="width: 500px;padding-left: 300px">
                <el-form-item label="Password">
                    <el-tooltip  placement="bottom" effect="light">
                        <div slot="content">The password is required to be 6-12 characters<br/>and can only be letters, numbers and underscores</div>
                        <el-input v-model="form.password" ></el-input>
                    </el-tooltip>
                </el-form-item>
                <el-form-item label="Confirm">
                    <el-tooltip  placement="bottom" effect="light">
                        <div slot="content">The confirmPassword is required to be 6-12 characters<br/>and can only be letters, numbers and underscores</div>
                        <el-input v-model="form.confirmPassword" ></el-input>
                    </el-tooltip>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click=onsubmit>submit</el-button>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>
</div>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script src="element-ui/lib/umd/locale/en.js"></script>
<script>
    ELEMENT.locale(ELEMENT.lang.en);
    new Vue({
        el:"#form",
        mounted(){
            this.User = this.getCookie("isLogin");
            this.selectStock()
            this.email = this.getCookie("loginEmail")
            this.selectAll();
        },
        data() {
            return {
                Manager1:true,
                //当前用户
                User: '',
                form: {
                    password: '',
                    confirmPassword: ''
                }
            }
        },
        methods: {
            selectStock(){
                axios({
                    method:"post",
                    url:"http://localhost:8080/meitishangcheng-system/userSelectStock",
                    data:this.User
                }).then(resp =>{
                    if (resp.data === 'yes'){
                        this.Manager1 = false
                    }
                })
            },
            //跳转
            toMain_ChangePassword_Employee(){
                location.href="http://localhost:8080/meitishangcheng-system/Main_ChangePassword_Employee.html"
            },
            toMain_Stock_Employee(){
                location.href="http://localhost:8080/meitishangcheng-system/Main_Stock_Employee.html"
            },
            toMain_Employee_Schedule(){
                location.href="http://localhost:8080/meitishangcheng-system/Main_Employee_Schedule.html"
            },
            toMain_Employee(){
                location.href="http://localhost:8080/meitishangcheng-system/Main_Employee.html"
            },
            //获取cookie
            getCookie(name) {
                var cookieArr = document.cookie.split(";");
                for (var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");
                    if (name == cookiePair[0].trim()) {
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
                return null;
            },
            //成功
            Success() {
                this.$message({
                    showClose: true,
                    message: 'Success!',
                    type: 'success'
                });
            },
            //失败
            Error() {
                this.$message({
                    showClose: true,
                    message: 'error',
                    type: 'error'
                });
            },
            //失败不符合格式要求
            Error1() {
                this.$message({
                    showClose: true,
                    message: 'Not conforming to format requirements',
                    type: 'error'
                });
            },
            Error2(){
                this.$message({
                    showClose: true,
                    message: 'The two entries are inconsistent',
                    type: 'error'
                });
            },
            onsubmit(){
                var code = /^[\w]{6,12}$/;
                if (this.form.password !== this.form.confirmPassword){
                    this.Error2();
                } else if (code.test(this.form.password) === false){
                    this.Error1();
                }else {
                    axios({
                        method:"get",
                        url:"http://localhost:8080/meitishangcheng-system/updatePasswordServlet?username="+this.User+"&password="+this.form.password
                    }).then(resp=>{
                        if (resp.data === 'success'){
                            this.Success()
                        }else {
                            this.Error()
                        }
                    })
                }
            }
        }
    })
</script>

</body>
</html>