*{
    margin: 0;
    padding: 0;
}

h1{
    margin: 30px;
}

a{
    text-decoration: none;
    color: blue;
}

a:visited{
    color: blue;
}

.button {
    display: inline-block;
    border-radius: 40px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align:middle;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#delete span:after{
    content: '×';
}

#white{
    padding-right: 25px;
}

#user{
    padding-top: 18px;
    font-size: 22px;
    float: right;
    padding-right: 50px;
}

.selected,.submit ,.text{
    border-radius: 40px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 160px;
    margin: 5px;
    vertical-align:middle;
}

.text{
    padding: 18px;
    border-color: black;
    border-style: solid;
    width: 400px;
    color: black;
    background-color: #FFFFFF;
}

table {
    width: 1200px;
    border: 1px solid white;
}

th {
    color: white;
    width: 140px;
    height: 65px;
    background-color: black;
    border: 0px;
    border-collapse: collapse;
    text-align: center;
}
.address {
    width: 250px;
}

.id{
    width: 80px;
}

td {
    background-color: #f7f9fc;
    width: 170px;
    height: 45px;
    border: 0px;
    text-align: center;
}

.top{
    height: 60px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 28px;
}

.welcome{
    padding-left: 100px;
}

.userPhoto{
    padding-top: 5px;
    padding-right: 20px;
    float: right;
}

.user{
    line-height: 60px;
    float: right;
    padding-right: 200px;
}

.bar {
    float: left;
    width: 200px;
    display: inline-block;
    height: 692px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar>a {
    background-color: #fefefe;
    width: 200px;
    height: 58px;
    font-size:17px;
    font-family: 'Microsoft YaHei UI',serif;
    line-height: 58px;
    text-decoration:none;
    color: black;
    display: block;
    /*padding-left: 37px;*/
    /*text-indent: 37px;*/
    text-align: center;
}

.bar>a:hover{
    background-color:black;
    color: white;
}

.table {
    display: inline-block;
    float: left;
    text-align: center;
    padding-left: 68px;
    padding-top: 20px;
}

hr{
    margin-top: 15px;
}

.bottom-span{
    width: 1200px;
    height: 50px;
    line-height: 50px;
}

.left{
    float: left;
    padding-left: 100px;
}

.right{
    float: right;
    padding-right: 100px;
}

.page{
    width: 30px;
}

.go,.operation{
    color: white;
    background-color: black;
    border-radius: 7px;
}


